<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- 配置SessionFactory -->
    <import resource="classpath:connection.xml"/>
	<import resource="classpath:applicationContext-user.xml"/>
	<import resource="classpath:applicationContext-blog.xml"/>	 
	 <bean id="loginAction" class="com.integration.action.LoginAction">
	 	<property name="userService" ref="userService"></property>
	 	</bean>	 
</beans>