<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- DAO层 -->
	<bean id="blogDAO" class="com.integration.dao.impl.BlogDAOImpl"
	 	abstract="false" lazy-init="default" autowire="default">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	</bean>
	<!-- Service层 -->
	<bean id="blogService" class="com.integration.service.impl.BlogServiceImpl">
	 	<property name="blogDAO" ref="blogDAO"></property>
	</bean> 	 
	<!-- Action层 -->
	 <bean id="blogMgrAction" class="com.integration.action.BlogMgrAction">	 
	 	<property name="blogService" ref="blogService"></property>
	 	<property name="userService" ref="userService"></property>
	 </bean> 
	
</beans>
